*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  color: var(--c-light-grey);
  background: var(--c-very-dark-blue);
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
