.img {
  display: inline-block;
}

.btn {
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--c-dark-blue-1);
  border-radius: 10rem;
  cursor: pointer;
  border: none;
  text-transform: uppercase;

  &__star {
    // margin-bottom: 3rem;
    padding-left: 1px;
    width: 4.3rem;
    height: 4.3rem;
    cursor: auto;
  }
  &__submit {
    align-self: stretch;
    width: 100%;
    background-color: var(--c-primary);
    color: var(--c-white);
    font-size: 1.6rem;
    letter-spacing: 1px;
  }
}

.title {
  font-weight: 700;
  color: var(--c-white);
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.paragraph {
  line-height: 1.7;
}
