:root {
  --c-primary: hsl(25, 97%, 53%);
  --c-white: hsl(0, 0%, 100%);
  --c-light-grey: hsl(217, 12%, 63%);
  --c-medium-grey: hsl(216, 12%, 54%);
  --c-dark-blue: hsl(213, 19%, 18%);
  --c-dark-blue-1: hsl(214, 20%, 23%);
  --c-very-dark-blue: hsl(216, 12%, 8%);
}
