*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Overpass', sans-serif;
  font-size: 1.5rem;
  color: var(--c-light-grey);
  background: var(--c-very-dark-blue);
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.img {
  display: inline-block;
}
.main {
  background: var(--c-dark-blue);
  padding: 4rem;
  border-radius: 3rem;
}
.container {
  min-height: 100vh;
  width: 45rem;

  padding: 1rem;

  display: grid;
  place-items: center;
  grid-template: 1fr 5vh / 1fr;
  margin: 0 auto;
}